

/*
	RESET
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block; zoom:1;
}

a {
	font-size:100%;
	vertical-align:baseline;
}

img {
	width: 100%;
	height: auto;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

input, select {
	vertical-align:middle;
}

nav ul li {
	list-style:none;
}


/* **********************************************************************************

	SIMPLE GRID - FRAMEWORK 

************************************************************************************* */

/*
	Grid
*/
.container {
	margin: 0 auto;
	width: 80%;
}

.container-fluid {
	margin: 0 auto;
	width: 100%;
}

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-offset-1, .col-offset-2, .col-offset-3, .col-offset-4, .col-offset-5, .col-offset-6,
.col-offset-7, .col-offset-8, .col-offset-9, .col-offset-10, .col-offset-11, .col-offset-12 {
    float: left;
    min-height: 1px;
 }

.box {
	padding: 20px;
}

.box-margin {
	margin: 0 10px 0 10px;
}

.col-1 {
	width: 8.33333333333%;
}

.col-2 {
	width: 16.6666666666%;
}

.col-3 {
	width: 24.9999999999%;
}

.col-4 {
	width: 33.3333333333%;
}

.col-5 {
	width: 41.6666666666%;
}

.col-6 {
	width: 49.9999999999%;
}

.col-7 {
	width: 58.3333333333%;
}

.col-8 {
	width: 66.6666666666%;
}

.col-9 {
	width: 74.9999999999%;
}

.col-10 {
	width: 83.3333333333%;
}

.col-11 {
	width: 91.6666666666%;
}

.col-12 {
	width: 100%;
}

.col-offset-1 {
	margin-left: 8.33333333333%;
}

.col-offset-2 {
	margin-left: 16.6666666666%;
}

.col-offset-3 {
	margin-left: 24.9999999999%;
}

.col-offset-4 {
	margin-left: 33.3333333333%;
}

.col-offset-5 {
	margin-left: 41.6666666666%;
}

.col-offset-6 {
	margin-left: 49.9999999999%;
}

.col-offset-7 {
	margin-left: 58.3333333333%;
}

.col-offset-8 {
	margin-left: 66.6666666666%;
}

.col-offset-9 {
	margin-left: 74.9999999999%;
}

.col-offset-10 {
	margin-left: 83.3333333333%;
}

.col-offset-11 {
	margin-left: 91.6666666666%;
}

.col-offset-12 {
	margin-left: 100%;
}

@media only screen and (max-width : 768px) and (min-width : 480px) {
	/*
		Grid
	*/
	.container {
		width: 96%;
		padding: 0;
		margin: 0;
	}

	.col-1, .col-2, .col-3, .col-5, .col-6,
	.col-7, .col-8, .col-9, .col-10, .col-11 {
    	width: 50%;
 	}

 	.col-4 {
		width: 33.3333333333%;
	}

 	.col-12 {
 		width:100%;
 	}

 	.col-offset-1, .col-offset-2, .col-offset-3, .col-offset-4,
 	.col-offset-5, .col-offset-6, .col-offset-7, .col-offset-8,
 	.col-offset-9, .col-offset-10, .col-offset-11, .col-offset-12 {
 		margin-left: 0% !important;
 	}

 	.box-margin {
		margin: 0 10px 0 10px;
	}
}

@media only screen and (max-width : 479px) {
	/*
		Grid
	*/
	.container {
		width: 98%;
	}

	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
	.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    	float: none;
    	width: 100%;
 	}

 	.col-offset-1, .col-offset-2, .col-offset-3, .col-offset-4,
 	.col-offset-5, .col-offset-6, .col-offset-7, .col-offset-8,
 	.col-offset-9, .col-offset-10, .col-offset-11, .col-offset-12 {
 		margin-left: 0% !important;
 	}

 	.box-margin {
		margin: 0 10px 0 10px;
	}
}

/* End of Simple Grid - Framework */


/* 

	Name: Black&White UI
	Version: 0.0.1
	Author: 陈磊
	Licenses: Black&White UI can be used in personal and commercial projects. But you can not sell as your product.

*/
$default_font_color: #000;
//$default_shadow: ;
$default_border: 1px solid $default_font_color;
$hover_color: #f2f2f2;

body {
  color: $default_font_color;
  font-size: 16px;
}

a {color:#2929a3;}
a:link {color:#000;}
a:visited {color:#2929a3;}
a:hover {color:#b30000;}
a:active {color:#b300b3;}

h1, h2, h3, h4, h5, h6 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 8px;
}

h1 {
  font-size: 36px;
  margin-top: 12px;
  margin-bottom: 22px;
}

h2 {
  font-size: 34px;
  margin-top: 10px;
  margin-bottom: 18px;
}

h3 {
  font-size: 32px;
  margin-top: 8px;
  margin-bottom: 14px;
}

h4 {
  font-size: 28px;
  margin-top: 7px;
  margin-bottom: 12px;
}

h5 {
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 10px;
}

h6 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 8px;
}

p {
  text-align: left;
  text-indent: 2em;
  word-break:break-word;
}

hr {
  width: 100%;
  height: 1px;
  border-top: $default_border;
  color: #000;
}

blockquote {
  padding: 2px 0 5px 4em; 
}

address {
  display: block;
  width: 100%;
  text-align: right;
  padding: 2px 2em 5px 0;
}

form > div.form-group label {
  font-weight: bold;
}

input, select, textarea {
  margin-top: 0.6em;
  width: 98%;
  height: 1.5em;
  border: 1px solid #000;
  font-size: 1em;
  padding: 3px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
  width: 1em;
  height: 1em;
  border: $default_border;
}

div.radio, div.checkbox {
  margin-top: 0.6em;
}

select {
  height: 1.9em;
}

textarea {
  width: 98%;
  height: 128px;
  max-height: 128px;
  font-size: 16px;
  resize: none;
}

.form-group {
  margin: 1em 5px;
  padding: 5px;
}
.form-group:before,
.form-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-group:after {
  clear: both;
}

button {
  margin: 1%;
  width: 98%;
  height: 2em;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 1em;  
}

button:hover {
  background-color: $hover_color;
}

button.big {
  font-size: 2em;
}

table {
  margin: 2%;
}
table, tr {
  width: 96%;
  text-align: center;
}
tr, thead {
  border-bottom: $default_border;
}
td, th {
  padding: 4px;
}


.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}

div.thumbnail {
  margin: 6px auto;
  width: 92%;
  border: 1px solid #000;
  padding: 4px 4px 2px 4px;
}

.popup-layer {
  /* TODO: Develop The layer */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  display: none;
  background-color: #fff;
}

.dialog {
	position: relative;
	width: 86%;
  height: 25%;
  margin: 0 auto;
  border: 1px solid #000;
}

.dialog > .title {
  background-color: #000;
  color: #fff;
  padding: 5px;
  font-weight: bold;
}

.dialog > .content {
	padding: 5px;
}

.dialog > .footer {
	position: absolute;
	bottom: 5px;
	left: auto;
	right: auto;
	width: 98%;
	text-align: right;
}

.hidden {
	display: none;
}

.display {
	display: block;
}

.paper {
  margin: 2%;
  padding: 5%;
  border: $default_border;
  border-color: #ededed;
  box-shadow: #999 2px 2px 6px 1px;
}

@media only screen and (max-width : 479px) {
	.dialog {
		position: relative;
		max-width: 86%;
		min-height: 240px;
		margin: 0 auto;
		border: 1px solid #000;
	}
  .paper {
    margin: 1%;
    padding: 2%;
  }
}


/* End of Black&White UI */
